<!DOCTYPE html>
<html>
<head>
    <title>BDS</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}
        .w3-row-padding img {margin-bottom: 12px}
        .w3-sidebar {width: 120px;background: #222;}
        #main {margin-left: 120px}
        @media only screen and (max-width: 600px) {#main {margin-left: 0}}
    </style>
</head>
<body class="w3-grey">

<!-- Icon Bar (Sidebar - hidden on small screens) -->
<nav class="w3-sidebar w3-bar-block w3-small w3-hide-small w3-center">
    <!-- Avatar image in top left corner -->
    <a href="#" class="w3-bar-item w3-button w3-padding-large w3-black">
        <i class="fa fa-home w3-xxlarge"></i>
        <p>HOME</p>
    </a>
    <a href="{% url 'index' %}" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
        <i class="fa fa-user w3-xxlarge"></i>
        <p>My Account</p>
    </a>
    <a href="{% url 'scm' %}" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
        <i class="fa fa-truck w3-xxlarge"></i>
        <p>SCM</p>
    </a>
    <a href="{% url 'crm' %}" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
        <i class="fa fa-envelope w3-xxlarge"></i>
        <p>CRM</p>
    </a>
</nav>

<!-- Page Content -->
<div class="w3-padding-large" id="main">
    <!-- Header/Home -->
    <header class="w3-container w3-padding-32 w3-center w3-black" id="home">
        <h1>CAT DEALERSHIP</h1>
    </header>
  
    <!-- Portfolio Section -->
    <div class="w3-content w3-justify w3-text-grey w3-padding-32" id="about">
        <h2 class="w3-text-light-grey">Customer Relational Manager</h2>
        <hr style="width:200px" class="w3-opacity">
        
        <h3 class="w3-wide">access control</h3>
        
        <div class="w3-row w3-center w3-padding-16 w3-section w3-light-grey">
            <div class="w3-quarter w3-section">
                <span class="w3-xlarge">YES</span><br>
                Sales
            </div>
            <div class="w3-quarter w3-section">
                <span class="w3-xlarge">YES</span><br>
                Customer Care
            </div>
            <div class="w3-quarter w3-section">
                <span class="w3-xlarge">NO</span><br>
                Marketing
            </div>
            <div class="w3-quarter w3-section">
                <span class="w3-xlarge">NO</span><br>
                Analytics
            </div>
        </div>
    </div>
  
</div>

</body>
</html>
